@{
    ViewData["Title"] = "contact us";
}
<h1>@ViewData["Contact US"]</h1>

<div dir="rtl" style="text-align:right;">


<p>يمكنك التواصل معنا عبر البريد الالكتروني او الارقالم التالية</p>

</div>
