@model Fourth_MVC.Models.EmployeeRegister

@{
    ViewData["Title"] = "تسجيل مستثمر جديد";
}

<div dir="rtl" style="text-align:right;">


<h2>إنشاء حساب جديد</h2>

<form asp-action="Register" method="post">
    <div class="form-group">
        <label>الاسم الكامل</label>
        <input asp-for="Name" class="form-control" required />
    </div>
    <div class="form-group">
        <label>البريد الإلكتروني</label>
        <input asp-for="Email" type="email" class="form-control" required />
    </div>
    <div class="form-group">
        <label>كلمة المرور</label>
        <input asp-for="Password" type="password" class="form-control" required />
    </div>

    <button type="submit" class="btn btn-success mt-3">تسجيل</button>
</form>

<p class="mt-3">
    لديك حساب؟ <a asp-controller="Account" asp-action="Login">تسجيل الدخول</a>
</p>
</div>
