html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
    color: var(--bs-secondary-color);
    text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
    text-align: start;
}

.hover-card {
    transition: transform 0.3s ease, background-color 0.3s ease;
    cursor: pointer;
}

    .hover-card:hover {
        transform: translateY(-5px); /* حركة بسيطة للأعلى */
        background-color: #b5e8bb; /* لون دافئ */
        box-shadow: 0 8px 20px rgba(0,0,0,0.2); /* تعزيز الظل عند المرور */
    }

.uniform-img {
    width: 100%; /* ياخذ عرض العمود بالكامل */
    height: 250px; /* ارتفاع ثابت (غيره حسب احتياجك) */
    object-fit: cover; /* يضمن أن الصورة تنقص/تكبر بدون تشويه */
}
